html {
  font-size: 8px;
}

:root {
  --bg: #ffffff;
  --bg-muted: #f8f8f8;
  --fg: #1a1a1a;
  --fg-muted: #8a8a8a;
  --border: #e4e4e4;
  --trans: rgba(0, 0, 0, 0.03);
  --good: 23, 175, 104;
  --bad: 175, 28, 23;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --card-gap: var(--space-md);

  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 18px;
  --text-xl: 24px;
}

@font-face {
  font-family: "Inter";
  src: url(InterVariable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fg);
  font-family: "Inter";
  font-size: var(--text-md);
  font-weight: 400;
  letter-spacing: -0.02em;
}

body {
  background-color: var(--bg-muted);
}

.main {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  padding: var(--space-sm);
  min-height: 100vh;
}

/* Side bar */

.side-bar {
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.side-bar .button {
  width: 30rem;
}

.side-bar hr {
  margin-block: var(--space-md);
}

.side-bar-subtitle {
  margin-left: var(--space-sm);
}

/* Main content page structure */

.info-panel {
  background-color: var(--bg);
  flex-grow: 1;
  min-height: 100%;
  border-radius: var(--space-md);
  border: 1px solid var(--border);
}

.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  padding: var(--space-md) var(--space-lg);
}

.info-section {
  padding: var(--space-md) var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.info-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--card-gap);
}

.info-left {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.info-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--card-gap);
  height: fit-content;
}

/* Quick info panel */

.quick-info-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--card-gap);
}

.quick-info {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.quick-info h2 {
  margin-bottom: var(--space-sm);
}

/* Graph panel */

.graph-wrapper {
  width: 100%;
  height: 40rem;
}

/* Budget panel */

.budget-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--card-gap);
}

.budget-category {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  align-items: center;
}

.budget-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--card-gap);
}

/* Categories panel */

#category-transactions {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.transaction-amounts {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}

/* Config pages */

.config-page {
  background-color: var(--bg);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.config-head {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
}