
/* Text */

.muted {
  color: var(--fg-muted);
}

.small {
  font-size: var(--text-sm);
}

.title {
  font-size: var(--text-lg);
  font-weight: 500;
}

.large {
  font-size: var(--text-xl);
  font-weight: 500;
}

/* Buttons */

.button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  text-decoration: none;
}

.button.small-button {
  padding: var(--space-xs) var(--space-sm);
}

.button.filled {
  background-color: var(--fg);
  color: var(--bg);
}

.button.filled:hover {
  opacity: 0.85;
}

.button.outline {
  border: 1px solid var(--border);
}

.button.outline:hover {
  background-color: var(--trans);
}

.button.faint:hover {
  background-color: var(--trans);
}

.button.destructive {
  background-color: rgba(var(--bad), 0.2);
  color: rgb(var(--bad));
}

.button.destructive:hover {
  background-color: rgba(var(--bad), 0.3);
}

/* Links */

.link {
  text-decoration: none;
  position: relative;
  display: inline-flex;
}

.link:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  top: 100%;
}

.link.external::after {
  content: "↗";
  margin-left: var(--space-xs);
}

.link.return::after {
  content: "←";
  order: -1;
  margin-right: var(--space-xs);
}

.link.muted:hover {
  color: var(--fg);
}

.link.muted:hover::before {
  display: none;
}

/* Badges */

.badge {
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  background-color: rgba(var(--color), 0.1);
  color: rgb(var(--color));
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
}

.badge.neutral {
  border: 1px solid var(--border);
  color: var(--fg-muted);
}

.badge.good {
  --color: var(--good);
}

.badge.bad {
  --color: var(--bad);
}